[submodule "Externals/glfw"]
	path = Externals/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Externals/EZ-ECS"]
	path = Externals/EZ-ECS
	url = https://github.com/MrSinho/EZ-ECS
[submodule "Externals/cglm"]
	path = Externals/cglm
	url = https://github.com/recp/cglm.git
[submodule "Externals/ufbx"]
	path = Externals/ufbx
	url = https://github.com/bqqbarbhg/ufbx.git
[submodule "PlyImporter"]
	path = Externals/PlyImporter
	url = https://github.com/MrSinho/PlyImporter.git
[submodule "Externals/PlyImporter"]
	path = Externals/PlyImporter
	url = https://www.github.com/MrSinho/PlyImporter.git
[submodule "Externals/libusb"]
	path = Externals/libusb
	url = https://github.com/libusb/libusb.git
