# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/ZERO_CHECK.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/VK-Compute.vcxproj.filters
build/VK-Compute.vcxproj
build/VK-Compute.sln
build/VK-Compute.dir/Debug/VK-Compute.tlog/VK-Compute.lastbuildstate
build/VK-Compute.dir/Debug/VK-Compute.tlog/unsuccessfulbuild
build/VK-Compute.dir/Debug/VK-Compute.tlog/CustomBuild.write.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/CustomBuild.read.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/CustomBuild.command.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/CL.command.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.log
build/Utilities.vcxproj.user
build/Utilities.vcxproj.filters
build/Utilities.vcxproj
build/Utilities.dir/Debug/Utilities.tlog/Utilities.lastbuildstate
build/Utilities.dir/Debug/Utilities.tlog/Lib.command.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/Lib-link.write.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/Lib-link.read.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CustomBuild.write.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CustomBuild.read.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CustomBuild.command.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CL.write.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CL.read.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CL.command.1.tlog
build/Utilities.dir/Debug/Utilities.log
build/Utilities.dir/Debug/Utilities.lib.recipe
build/Example.vcxproj.filters
build/Example.vcxproj
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/8bb52e0a189b9bf7c7e759f94885d770/generate.stamp.rule
build/CMakeFiles/3.20.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.20.3/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.20.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.20.3/VCTargetsPath.txt
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.20.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.20.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.20.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.20.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.3/CMakeSystem.cmake
build/CMakeFiles/3.20.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.3/CMakeCCompiler.cmake
build/CMakeCache.txt
build/cmake_install.cmake
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj
build/.vs/VK-Compute/v16/Solution.VC.db-wal
build/.vs/VK-Compute/v16/Solution.VC.db-shm
build/.vs/VK-Compute/v16/Solution.VC.db
build/.vs/VK-Compute/v16/ipch/AutoPCH/95f4c4412c639cf7/EXAMPLE.ipch
build/.vs/VK-Compute/v16/ipch/AutoPCH/707f7aa8e396f1/UTILITIES.ipch
build/.vs/VK-Compute/v16/ipch/AutoPCH/393e72713e06b4ee/VK-COMPUTE.ipch
build/.vs/VK-Compute/v16/Browse.VC.opendb
build/.vs/VK-Compute/v16/Browse.VC.db-wal
build/.vs/VK-Compute/v16/Browse.VC.db-shm
build/.vs/VK-Compute/v16/Browse.VC.db
build/.vs/VK-Compute/v16/.suo
build/.vs/cmake.db
.vscode/settings.json
build/Example.dir/Debug/Example.log
build/Example.dir/Debug/Example.tlog/CL.command.1.tlog
build/Example.dir/Debug/Example.tlog/CL.read.1.tlog
build/Example.dir/Debug/Example.tlog/CL.write.1.tlog
build/Example.dir/Debug/Example.tlog/CustomBuild.command.1.tlog
build/Example.dir/Debug/Example.tlog/CustomBuild.read.1.tlog
build/Example.dir/Debug/Example.tlog/CustomBuild.write.1.tlog
build/Example.dir/Debug/Example.tlog/Example.lastbuildstate
build/Example.dir/Debug/Example.tlog/link.command.1.tlog
build/Example.dir/Debug/Example.tlog/link.read.1.tlog
build/Example.dir/Debug/Example.tlog/link.write.1.tlog
build/Example.dir/Debug/Example.tlog/unsuccessfulbuild
build/.vs/VK-Compute/v16/ipch/AutoPCH/51e3d925066767a0/VK-COMPUTE.ipch
build/ALL_BUILD.vcxproj.user
build/Example.dir/Debug/Example.exe.recipe
build/Example.dir/Release/Example.exe.recipe
build/Example.dir/Release/Example.log
build/Example.dir/Release/Example.tlog/CL.command.1.tlog
build/Example.dir/Release/Example.tlog/CL.read.1.tlog
build/Example.dir/Release/Example.tlog/CL.write.1.tlog
build/Example.dir/Release/Example.tlog/CustomBuild.command.1.tlog
build/Example.dir/Release/Example.tlog/CustomBuild.read.1.tlog
build/Example.dir/Release/Example.tlog/CustomBuild.write.1.tlog
build/Example.dir/Release/Example.tlog/Example.lastbuildstate
build/Example.dir/Release/Example.tlog/link.command.1.tlog
build/Example.dir/Release/Example.tlog/link.read.1.tlog
build/Example.dir/Release/Example.tlog/link.write.1.tlog
build/Example.vcxproj.user
build/Utilities.dir/Release/Utilities.lib.recipe
build/Utilities.dir/Release/Utilities.log
build/Utilities.dir/Release/Utilities.tlog/CL.command.1.tlog
build/Utilities.dir/Release/Utilities.tlog/CL.read.1.tlog
build/Utilities.dir/Release/Utilities.tlog/CL.write.1.tlog
build/Utilities.dir/Release/Utilities.tlog/CustomBuild.command.1.tlog
build/Utilities.dir/Release/Utilities.tlog/CustomBuild.read.1.tlog
build/Utilities.dir/Release/Utilities.tlog/CustomBuild.write.1.tlog
build/Utilities.dir/Release/Utilities.tlog/Lib-link.read.1.tlog
build/Utilities.dir/Release/Utilities.tlog/Lib-link.write.1.tlog
build/Utilities.dir/Release/Utilities.tlog/Lib.command.1.tlog
build/Utilities.dir/Release/Utilities.tlog/Utilities.lastbuildstate
build/VK-Compute.dir/Debug/VK-Compute.lib.recipe
build/VK-Compute.dir/Debug/VK-Compute.tlog/CL.read.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/CL.write.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/Lib-link.read.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/Lib-link.write.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/Lib.command.1.tlog
build/VK-Compute.dir/Release/VK-Compute.lib.recipe
build/VK-Compute.dir/Release/VK-Compute.log
build/VK-Compute.dir/Release/VK-Compute.tlog/CL.command.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/CL.read.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/CL.write.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/CustomBuild.command.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/CustomBuild.read.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/CustomBuild.write.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/Lib-link.read.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/Lib-link.write.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/Lib.command.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/VK-Compute.lastbuildstate
build/x64/Release/ZERO_CHECK/ZERO_CHECK.log
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
