# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/ZERO_CHECK.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/VK-Compute.vcxproj.filters
build/VK-Compute.vcxproj
build/VK-Compute.sln
build/VK-Compute.dir/Debug/VK-Compute.tlog/VK-Compute.lastbuildstate
build/VK-Compute.dir/Debug/VK-Compute.tlog/unsuccessfulbuild
build/VK-Compute.dir/Debug/VK-Compute.tlog/CustomBuild.write.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/CustomBuild.read.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/CustomBuild.command.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/CL.command.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.log
build/Utilities.vcxproj.user
build/Utilities.vcxproj.filters
build/Utilities.vcxproj
build/Utilities.dir/Debug/Utilities.tlog/Utilities.lastbuildstate
build/Utilities.dir/Debug/Utilities.tlog/Lib.command.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/Lib-link.write.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/Lib-link.read.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CustomBuild.write.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CustomBuild.read.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CustomBuild.command.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CL.write.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CL.read.1.tlog
build/Utilities.dir/Debug/Utilities.tlog/CL.command.1.tlog
build/Utilities.dir/Debug/Utilities.log
build/Utilities.dir/Debug/Utilities.lib.recipe
build/Example.vcxproj.filters
build/Example.vcxproj
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/8bb52e0a189b9bf7c7e759f94885d770/generate.stamp.rule
build/CMakeFiles/3.20.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.20.3/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.20.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.20.3/VCTargetsPath.txt
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.20.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.20.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.20.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.20.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.3/CMakeSystem.cmake
build/CMakeFiles/3.20.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.3/CMakeCCompiler.cmake
build/CMakeCache.txt
build/cmake_install.cmake
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj
build/.vs/VK-Compute/v16/Solution.VC.db-wal
build/.vs/VK-Compute/v16/Solution.VC.db-shm
build/.vs/VK-Compute/v16/Solution.VC.db
build/.vs/VK-Compute/v16/ipch/AutoPCH/95f4c4412c639cf7/EXAMPLE.ipch
build/.vs/VK-Compute/v16/ipch/AutoPCH/707f7aa8e396f1/UTILITIES.ipch
build/.vs/VK-Compute/v16/ipch/AutoPCH/393e72713e06b4ee/VK-COMPUTE.ipch
build/.vs/VK-Compute/v16/Browse.VC.opendb
build/.vs/VK-Compute/v16/Browse.VC.db-wal
build/.vs/VK-Compute/v16/Browse.VC.db-shm
build/.vs/VK-Compute/v16/Browse.VC.db
build/.vs/VK-Compute/v16/.suo
build/.vs/cmake.db
.vscode/settings.json
build/Example.dir/Debug/Example.log
build/Example.dir/Debug/Example.tlog/CL.command.1.tlog
build/Example.dir/Debug/Example.tlog/CL.read.1.tlog
build/Example.dir/Debug/Example.tlog/CL.write.1.tlog
build/Example.dir/Debug/Example.tlog/CustomBuild.command.1.tlog
build/Example.dir/Debug/Example.tlog/CustomBuild.read.1.tlog
build/Example.dir/Debug/Example.tlog/CustomBuild.write.1.tlog
build/Example.dir/Debug/Example.tlog/Example.lastbuildstate
build/Example.dir/Debug/Example.tlog/link.command.1.tlog
build/Example.dir/Debug/Example.tlog/link.read.1.tlog
build/Example.dir/Debug/Example.tlog/link.write.1.tlog
build/Example.dir/Debug/Example.tlog/unsuccessfulbuild
build/.vs/VK-Compute/v16/ipch/AutoPCH/51e3d925066767a0/VK-COMPUTE.ipch
build/ALL_BUILD.vcxproj.user
build/Example.dir/Debug/Example.exe.recipe
build/Example.dir/Release/Example.exe.recipe
build/Example.dir/Release/Example.log
build/Example.dir/Release/Example.tlog/CL.command.1.tlog
build/Example.dir/Release/Example.tlog/CL.read.1.tlog
build/Example.dir/Release/Example.tlog/CL.write.1.tlog
build/Example.dir/Release/Example.tlog/CustomBuild.command.1.tlog
build/Example.dir/Release/Example.tlog/CustomBuild.read.1.tlog
build/Example.dir/Release/Example.tlog/CustomBuild.write.1.tlog
build/Example.dir/Release/Example.tlog/Example.lastbuildstate
build/Example.dir/Release/Example.tlog/link.command.1.tlog
build/Example.dir/Release/Example.tlog/link.read.1.tlog
build/Example.dir/Release/Example.tlog/link.write.1.tlog
build/Example.vcxproj.user
build/Utilities.dir/Release/Utilities.lib.recipe
build/Utilities.dir/Release/Utilities.log
build/Utilities.dir/Release/Utilities.tlog/CL.command.1.tlog
build/Utilities.dir/Release/Utilities.tlog/CL.read.1.tlog
build/Utilities.dir/Release/Utilities.tlog/CL.write.1.tlog
build/Utilities.dir/Release/Utilities.tlog/CustomBuild.command.1.tlog
build/Utilities.dir/Release/Utilities.tlog/CustomBuild.read.1.tlog
build/Utilities.dir/Release/Utilities.tlog/CustomBuild.write.1.tlog
build/Utilities.dir/Release/Utilities.tlog/Lib-link.read.1.tlog
build/Utilities.dir/Release/Utilities.tlog/Lib-link.write.1.tlog
build/Utilities.dir/Release/Utilities.tlog/Lib.command.1.tlog
build/Utilities.dir/Release/Utilities.tlog/Utilities.lastbuildstate
build/VK-Compute.dir/Debug/VK-Compute.lib.recipe
build/VK-Compute.dir/Debug/VK-Compute.tlog/CL.read.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/CL.write.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/Lib-link.read.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/Lib-link.write.1.tlog
build/VK-Compute.dir/Debug/VK-Compute.tlog/Lib.command.1.tlog
build/VK-Compute.dir/Release/VK-Compute.lib.recipe
build/VK-Compute.dir/Release/VK-Compute.log
build/VK-Compute.dir/Release/VK-Compute.tlog/CL.command.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/CL.read.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/CL.write.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/CustomBuild.command.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/CustomBuild.read.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/CustomBuild.write.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/Lib-link.read.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/Lib-link.write.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/Lib.command.1.tlog
build/VK-Compute.dir/Release/VK-Compute.tlog/VK-Compute.lastbuildstate
build/x64/Release/ZERO_CHECK/ZERO_CHECK.log
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/CMakeDoxyfile.in
build/CMakeDoxygenDefaults.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/d73732f6c3093b3fa16e7ef025d90d6e/generate.stamp.rule
build/CMakeFiles/d73732f6c3093b3fa16e7ef025d90d6e/INSTALL_force.rule
build/CMakeFiles/e6bed52d7b7108d8b0db1183e878c67d/INSTALL_force.rule
build/CMakeFiles/e70b505d1cb6796c2f39684f99c2c5fd/docs.rule
build/CMakeFiles/e70b505d1cb6796c2f39684f99c2c5fd/INSTALL_force.rule
build/CMakeFiles/f813371a5090b898259ab4032e9ea3ee/INSTALL_force.rule
build/CMakeFiles/f813371a5090b898259ab4032e9ea3ee/uninstall.rule
build/Editor.vcxproj
build/Editor.vcxproj.filters
build/Externals/glfw/ALL_BUILD.vcxproj
build/Externals/glfw/ALL_BUILD.vcxproj.filters
build/Externals/glfw/cmake_install.cmake
build/Externals/glfw/cmake_uninstall.cmake
build/Externals/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-debug.cmake
build/Externals/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-minsizerel.cmake
build/Externals/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-release.cmake
build/Externals/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-relwithdebinfo.cmake
build/Externals/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets.cmake
build/Externals/glfw/CMakeFiles/generate.stamp
build/Externals/glfw/CMakeFiles/generate.stamp.depend
build/Externals/glfw/docs/cmake_install.cmake
build/Externals/glfw/docs/CMakeFiles/generate.stamp
build/Externals/glfw/docs/CMakeFiles/generate.stamp.depend
build/Externals/glfw/docs/docs.vcxproj
build/Externals/glfw/docs/docs.vcxproj.filters
build/Externals/glfw/docs/Doxyfile
build/Externals/glfw/docs/INSTALL.vcxproj
build/Externals/glfw/docs/INSTALL.vcxproj.filters
build/Externals/glfw/GLFW.sln
build/Externals/glfw/INSTALL.vcxproj
build/Externals/glfw/INSTALL.vcxproj.filters
build/Externals/glfw/src/cmake_install.cmake
build/Externals/glfw/src/CMakeFiles/generate.stamp
build/Externals/glfw/src/CMakeFiles/generate.stamp.depend
build/Externals/glfw/src/glfw.vcxproj
build/Externals/glfw/src/glfw.vcxproj.filters
build/Externals/glfw/src/glfw3.pc
build/Externals/glfw/src/glfw3Config.cmake
build/Externals/glfw/src/glfw3ConfigVersion.cmake
build/Externals/glfw/src/glfw_config.h
build/Externals/glfw/src/INSTALL.vcxproj
build/Externals/glfw/src/INSTALL.vcxproj.filters
build/Externals/glfw/uninstall.vcxproj
build/Externals/glfw/uninstall.vcxproj.filters
build/Foggy-Engine.sln
build/Foggy-Engine.vcxproj
build/Foggy-Engine.vcxproj.filters
build/INSTALL.vcxproj
build/INSTALL.vcxproj.filters
build/.vs/Foggy-Engine/v16/.suo
build/.vs/Foggy-Engine/v16/Browse.VC.db
build/.vs/Foggy-Engine/v16/Browse.VC.db-shm
build/.vs/Foggy-Engine/v16/Browse.VC.db-wal
build/.vs/Foggy-Engine/v16/Browse.VC.opendb
build/.vs/Foggy-Engine/v16/ipch/AutoPCH/4b0fac929aaaa719/WINDOW.ipch
build/.vs/Foggy-Engine/v16/ipch/AutoPCH/8027b14b19e92d7c/VKDATAHANDLER.ipch
build/.vs/Foggy-Engine/v16/ipch/AutoPCH/a788adc317cbc0c0/EDITOR.ipch
build/.vs/Foggy-Engine/v16/ipch/AutoPCH/fa5765f7b58f31b4/FOGGY-ENGINE.ipch
build/.vs/Foggy-Engine/v16/Solution.VC.db
build/.vs/Foggy-Engine/v16/Solution.VC.db-shm
build/.vs/Foggy-Engine/v16/Solution.VC.db-wal
build/Editor.dir/Debug/Editor.exe.recipe
build/Editor.dir/Debug/Editor.log
build/Editor.dir/Debug/Editor.tlog/CL.command.1.tlog
build/Editor.dir/Debug/Editor.tlog/CL.read.1.tlog
build/Editor.dir/Debug/Editor.tlog/CL.write.1.tlog
build/Editor.dir/Debug/Editor.tlog/CustomBuild.command.1.tlog
build/Editor.dir/Debug/Editor.tlog/CustomBuild.read.1.tlog
build/Editor.dir/Debug/Editor.tlog/CustomBuild.write.1.tlog
build/Editor.dir/Debug/Editor.tlog/Editor.lastbuildstate
build/Editor.dir/Debug/Editor.tlog/link.command.1.tlog
build/Editor.dir/Debug/Editor.tlog/link.read.1.tlog
build/Editor.dir/Debug/Editor.tlog/link.write.1.tlog
build/Editor.vcxproj.user
build/Externals/glfw/docs/html/bc_s.png
build/Externals/glfw/docs/html/bdwn.png
build/Externals/glfw/docs/html/build_8dox.html
build/Externals/glfw/docs/html/build_guide.html
build/Externals/glfw/docs/html/closed.png
build/Externals/glfw/docs/html/compat_8dox.html
build/Externals/glfw/docs/html/compat_guide.html
build/Externals/glfw/docs/html/compile_8dox.html
build/Externals/glfw/docs/html/compile_guide.html
build/Externals/glfw/docs/html/context_8dox.html
build/Externals/glfw/docs/html/context_guide.html
build/Externals/glfw/docs/html/deprecated.html
build/Externals/glfw/docs/html/dir_3f19039c23bc1a024bbbd8c7924aea70.html
build/Externals/glfw/docs/html/dir_6d36c72d837e8604ab9d7d77dc89a919.html
build/Externals/glfw/docs/html/dir_752ad3653d266b810837dc8cfcbbae13.html
build/Externals/glfw/docs/html/dir_89b7762f49634cdcd0fddf1b37152e5a.html
build/Externals/glfw/docs/html/dir_eafca62e2a78f12edf99ac6570c6d2da.html
build/Externals/glfw/docs/html/doc.png
build/Externals/glfw/docs/html/doxygen.css
build/Externals/glfw/docs/html/doxygen.svg
build/Externals/glfw/docs/html/dynsections.js
build/Externals/glfw/docs/html/extra.css
build/Externals/glfw/docs/html/files.html
build/Externals/glfw/docs/html/folderclosed.png
build/Externals/glfw/docs/html/folderopen.png
build/Externals/glfw/docs/html/glfw3_8h.html
build/Externals/glfw/docs/html/glfw3_8h_source.html
build/Externals/glfw/docs/html/glfw3native_8h.html
build/Externals/glfw/docs/html/glfw3native_8h_source.html
build/Externals/glfw/docs/html/group__buttons.html
build/Externals/glfw/docs/html/group__context.html
build/Externals/glfw/docs/html/group__errors.html
build/Externals/glfw/docs/html/group__gamepad__axes.html
build/Externals/glfw/docs/html/group__gamepad__buttons.html
build/Externals/glfw/docs/html/group__hat__state.html
build/Externals/glfw/docs/html/group__init.html
build/Externals/glfw/docs/html/group__input.html
build/Externals/glfw/docs/html/group__joysticks.html
build/Externals/glfw/docs/html/group__keys.html
build/Externals/glfw/docs/html/group__mods.html
build/Externals/glfw/docs/html/group__monitor.html
build/Externals/glfw/docs/html/group__native.html
build/Externals/glfw/docs/html/group__shapes.html
build/Externals/glfw/docs/html/group__vulkan.html
build/Externals/glfw/docs/html/group__window.html
build/Externals/glfw/docs/html/index.html
build/Externals/glfw/docs/html/input_8dox.html
build/Externals/glfw/docs/html/input_guide.html
build/Externals/glfw/docs/html/internal_8dox.html
build/Externals/glfw/docs/html/internals_guide.html
build/Externals/glfw/docs/html/intro_8dox.html
build/Externals/glfw/docs/html/intro_guide.html
build/Externals/glfw/docs/html/jquery.js
build/Externals/glfw/docs/html/main_8dox.html
build/Externals/glfw/docs/html/menu.js
build/Externals/glfw/docs/html/menudata.js
build/Externals/glfw/docs/html/modules.html
build/Externals/glfw/docs/html/monitor_8dox.html
build/Externals/glfw/docs/html/monitor_guide.html
build/Externals/glfw/docs/html/moving_8dox.html
build/Externals/glfw/docs/html/moving_guide.html
build/Externals/glfw/docs/html/nav_f.png
build/Externals/glfw/docs/html/nav_g.png
build/Externals/glfw/docs/html/nav_h.png
build/Externals/glfw/docs/html/news.html
build/Externals/glfw/docs/html/news_8dox.html
build/Externals/glfw/docs/html/open.png
build/Externals/glfw/docs/html/pages.html
build/Externals/glfw/docs/html/quick_8dox.html
build/Externals/glfw/docs/html/quick_guide.html
build/Externals/glfw/docs/html/search/all_0.html
build/Externals/glfw/docs/html/search/all_0.js
build/Externals/glfw/docs/html/search/all_1.html
build/Externals/glfw/docs/html/search/all_1.js
build/Externals/glfw/docs/html/search/all_10.html
build/Externals/glfw/docs/html/search/all_10.js
build/Externals/glfw/docs/html/search/all_11.html
build/Externals/glfw/docs/html/search/all_11.js
build/Externals/glfw/docs/html/search/all_2.html
build/Externals/glfw/docs/html/search/all_2.js
build/Externals/glfw/docs/html/search/all_3.html
build/Externals/glfw/docs/html/search/all_3.js
build/Externals/glfw/docs/html/search/all_4.html
build/Externals/glfw/docs/html/search/all_4.js
build/Externals/glfw/docs/html/search/all_5.html
build/Externals/glfw/docs/html/search/all_5.js
build/Externals/glfw/docs/html/search/all_6.html
build/Externals/glfw/docs/html/search/all_6.js
build/Externals/glfw/docs/html/search/all_7.html
build/Externals/glfw/docs/html/search/all_7.js
build/Externals/glfw/docs/html/search/all_8.html
build/Externals/glfw/docs/html/search/all_8.js
build/Externals/glfw/docs/html/search/all_9.html
build/Externals/glfw/docs/html/search/all_9.js
build/Externals/glfw/docs/html/search/all_a.html
build/Externals/glfw/docs/html/search/all_a.js
build/Externals/glfw/docs/html/search/all_b.html
build/Externals/glfw/docs/html/search/all_b.js
build/Externals/glfw/docs/html/search/all_c.html
build/Externals/glfw/docs/html/search/all_c.js
build/Externals/glfw/docs/html/search/all_d.html
build/Externals/glfw/docs/html/search/all_d.js
build/Externals/glfw/docs/html/search/all_e.html
build/Externals/glfw/docs/html/search/all_e.js
build/Externals/glfw/docs/html/search/all_f.html
build/Externals/glfw/docs/html/search/all_f.js
build/Externals/glfw/docs/html/search/classes_0.html
build/Externals/glfw/docs/html/search/classes_0.js
build/Externals/glfw/docs/html/search/close.svg
build/Externals/glfw/docs/html/search/defines_0.html
build/Externals/glfw/docs/html/search/defines_0.js
build/Externals/glfw/docs/html/search/files_0.html
build/Externals/glfw/docs/html/search/files_0.js
build/Externals/glfw/docs/html/search/files_1.html
build/Externals/glfw/docs/html/search/files_1.js
build/Externals/glfw/docs/html/search/files_2.html
build/Externals/glfw/docs/html/search/files_2.js
build/Externals/glfw/docs/html/search/files_3.html
build/Externals/glfw/docs/html/search/files_3.js
build/Externals/glfw/docs/html/search/files_4.html
build/Externals/glfw/docs/html/search/files_4.js
build/Externals/glfw/docs/html/search/files_5.html
build/Externals/glfw/docs/html/search/files_5.js
build/Externals/glfw/docs/html/search/files_6.html
build/Externals/glfw/docs/html/search/files_6.js
build/Externals/glfw/docs/html/search/files_7.html
build/Externals/glfw/docs/html/search/files_7.js
build/Externals/glfw/docs/html/search/files_8.html
build/Externals/glfw/docs/html/search/files_8.js
build/Externals/glfw/docs/html/search/functions_0.html
build/Externals/glfw/docs/html/search/functions_0.js
build/Externals/glfw/docs/html/search/groups_0.html
build/Externals/glfw/docs/html/search/groups_0.js
build/Externals/glfw/docs/html/search/groups_1.html
build/Externals/glfw/docs/html/search/groups_1.js
build/Externals/glfw/docs/html/search/groups_2.html
build/Externals/glfw/docs/html/search/groups_2.js
build/Externals/glfw/docs/html/search/groups_3.html
build/Externals/glfw/docs/html/search/groups_3.js
build/Externals/glfw/docs/html/search/groups_4.html
build/Externals/glfw/docs/html/search/groups_4.js
build/Externals/glfw/docs/html/search/groups_5.html
build/Externals/glfw/docs/html/search/groups_5.js
build/Externals/glfw/docs/html/search/groups_6.html
build/Externals/glfw/docs/html/search/groups_6.js
build/Externals/glfw/docs/html/search/groups_7.html
build/Externals/glfw/docs/html/search/groups_7.js
build/Externals/glfw/docs/html/search/groups_8.html
build/Externals/glfw/docs/html/search/groups_8.js
build/Externals/glfw/docs/html/search/groups_9.html
build/Externals/glfw/docs/html/search/groups_9.js
build/Externals/glfw/docs/html/search/groups_a.html
build/Externals/glfw/docs/html/search/groups_a.js
build/Externals/glfw/docs/html/search/mag_sel.svg
build/Externals/glfw/docs/html/search/nomatches.html
build/Externals/glfw/docs/html/search/pages_0.html
build/Externals/glfw/docs/html/search/pages_0.js
build/Externals/glfw/docs/html/search/pages_1.html
build/Externals/glfw/docs/html/search/pages_1.js
build/Externals/glfw/docs/html/search/pages_2.html
build/Externals/glfw/docs/html/search/pages_2.js
build/Externals/glfw/docs/html/search/pages_3.html
build/Externals/glfw/docs/html/search/pages_3.js
build/Externals/glfw/docs/html/search/pages_4.html
build/Externals/glfw/docs/html/search/pages_4.js
build/Externals/glfw/docs/html/search/pages_5.html
build/Externals/glfw/docs/html/search/pages_5.js
build/Externals/glfw/docs/html/search/pages_6.html
build/Externals/glfw/docs/html/search/pages_6.js
build/Externals/glfw/docs/html/search/pages_7.html
build/Externals/glfw/docs/html/search/pages_7.js
build/Externals/glfw/docs/html/search/pages_8.html
build/Externals/glfw/docs/html/search/pages_8.js
build/Externals/glfw/docs/html/search/pages_9.html
build/Externals/glfw/docs/html/search/pages_9.js
build/Externals/glfw/docs/html/search/pages_a.html
build/Externals/glfw/docs/html/search/pages_a.js
build/Externals/glfw/docs/html/search/search.css
build/Externals/glfw/docs/html/search/search.js
build/Externals/glfw/docs/html/search/search_l.png
build/Externals/glfw/docs/html/search/search_m.png
build/Externals/glfw/docs/html/search/search_r.png
build/Externals/glfw/docs/html/search/searchdata.js
build/Externals/glfw/docs/html/search/typedefs_0.html
build/Externals/glfw/docs/html/search/typedefs_0.js
build/Externals/glfw/docs/html/search/variables_0.html
build/Externals/glfw/docs/html/search/variables_0.js
build/Externals/glfw/docs/html/search/variables_1.html
build/Externals/glfw/docs/html/search/variables_1.js
build/Externals/glfw/docs/html/search/variables_2.html
build/Externals/glfw/docs/html/search/variables_2.js
build/Externals/glfw/docs/html/search/variables_3.html
build/Externals/glfw/docs/html/search/variables_3.js
build/Externals/glfw/docs/html/search/variables_4.html
build/Externals/glfw/docs/html/search/variables_4.js
build/Externals/glfw/docs/html/search/variables_5.html
build/Externals/glfw/docs/html/search/variables_5.js
build/Externals/glfw/docs/html/search/variables_6.html
build/Externals/glfw/docs/html/search/variables_6.js
build/Externals/glfw/docs/html/search/variables_7.html
build/Externals/glfw/docs/html/search/variables_7.js
build/Externals/glfw/docs/html/spaces.svg
build/Externals/glfw/docs/html/splitbar.png
build/Externals/glfw/docs/html/structGLFWgamepadstate.html
build/Externals/glfw/docs/html/structGLFWgammaramp.html
build/Externals/glfw/docs/html/structGLFWimage.html
build/Externals/glfw/docs/html/structGLFWvidmode.html
build/Externals/glfw/docs/html/sync_off.png
build/Externals/glfw/docs/html/sync_on.png
build/Externals/glfw/docs/html/tab_a.png
build/Externals/glfw/docs/html/tab_b.png
build/Externals/glfw/docs/html/tab_h.png
build/Externals/glfw/docs/html/tab_s.png
build/Externals/glfw/docs/html/tabs.css
build/Externals/glfw/docs/html/vulkan_8dox.html
build/Externals/glfw/docs/html/vulkan_guide.html
build/Externals/glfw/docs/html/window_8dox.html
build/Externals/glfw/docs/html/window_guide.html
build/Externals/glfw/docs/warnings.txt
build/Externals/glfw/docs/x64/Debug/docs/docs.log
build/Externals/glfw/docs/x64/Debug/docs/docs.recipe
build/Externals/glfw/docs/x64/Debug/docs/docs.tlog/CustomBuild.command.1.tlog
build/Externals/glfw/docs/x64/Debug/docs/docs.tlog/CustomBuild.read.1.tlog
build/Externals/glfw/docs/x64/Debug/docs/docs.tlog/CustomBuild.write.1.tlog
build/Externals/glfw/docs/x64/Debug/docs/docs.tlog/docs.lastbuildstate
build/Externals/glfw/src/glfw.dir/Debug/glfw.log
build/Externals/glfw/src/glfw.dir/Debug/glfw.tlog/CL.command.1.tlog
build/Externals/glfw/src/glfw.dir/Debug/glfw.tlog/CL.read.1.tlog
build/Externals/glfw/src/glfw.dir/Debug/glfw.tlog/CL.write.1.tlog
build/Externals/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.command.1.tlog
build/Externals/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.read.1.tlog
build/Externals/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.write.1.tlog
build/Externals/glfw/src/glfw.dir/Debug/glfw.tlog/glfw.lastbuildstate
build/Externals/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.read.1.tlog
build/Externals/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.write.1.tlog
build/Externals/glfw/src/glfw.dir/Debug/glfw.tlog/Lib.command.1.tlog
build/Externals/glfw/src/glfw.dir/Debug/glfw3.lib.recipe
build/Foggy-Engine.dir/Debug/Foggy-Engine.lib.recipe
build/Foggy-Engine.dir/Debug/Foggy-Engine.log
build/Foggy-Engine.dir/Debug/Foggy-Engine.tlog/CL.command.1.tlog
build/Foggy-Engine.dir/Debug/Foggy-Engine.tlog/CL.read.1.tlog
build/Foggy-Engine.dir/Debug/Foggy-Engine.tlog/CL.write.1.tlog
build/Foggy-Engine.dir/Debug/Foggy-Engine.tlog/CustomBuild.command.1.tlog
build/Foggy-Engine.dir/Debug/Foggy-Engine.tlog/CustomBuild.read.1.tlog
build/Foggy-Engine.dir/Debug/Foggy-Engine.tlog/CustomBuild.write.1.tlog
build/Foggy-Engine.dir/Debug/Foggy-Engine.tlog/Foggy-Engine.lastbuildstate
build/Foggy-Engine.dir/Debug/Foggy-Engine.tlog/Lib-link.read.1.tlog
build/Foggy-Engine.dir/Debug/Foggy-Engine.tlog/Lib-link.write.1.tlog
build/Foggy-Engine.dir/Debug/Foggy-Engine.tlog/Lib.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.log
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
